.bgcontroll{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.authContainer{
   width: 40%;
  height: auto;
  background: rgba(30, 80, 180, 0.50);
  padding: 20px;
  min-width: 400px;
  border: 1px solid #ff00ef;
  border-radius: 20px;
  color: white;
  font-size: 20px;
}
.lightContainer{
    background-color: white;
    color: black;
     border: 1px solid #808080;
}